<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <validateMedia>
                <processor type="Sitecore.Pipelines.ValidateMedia.CheckSvgForJs,Sitecore.Kernel" resolve="true">
                    <!-- The list of events (pipe symbol separated) in the SVG image which may have javascript code. The list should be enclosed with a pipe symbol before and after the last elements.
                         E.g.:  |customevent|cusomunload|
                         The list complements the initial list of events in the processor.
                         Default value: empty string. -->
                    <events></events>
                </processor>
            </validateMedia>
        </pipelines>
        <processors>
            <attachFile>
                <processor mode="on" type="Sitecore.Pipelines.Attach.CheckSvgForJs, Sitecore.Kernel" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.Attach.CheckSize,Sitecore.Kernel']" />
            </attachFile>
            <uiUpload>
                <processor mode="on" type="Sitecore.Pipelines.Upload.CheckSvgForJs, Sitecore.Kernel" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel']" />
            </uiUpload>
        </processors>
    </sitecore>
</configuration>
